* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

.side-navbar {
  width: 250px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #b71c1c;
  transition: 0.3s;
}
.side-navbar a {
  text-decoration: none;
  transition: 0.3s;
}
.side-navbar .nav-tabs {
  border-bottom: unset;
}
.side-navbar .nav-tabs .nav-link:hover {
  cursor: pointer;
}
.side-navbar .nav-tabs .active {
  background-color: #f44336;
  transition: 0.3s;
  border-color: transparent;
}

div.img {
  background-color: #fff;
  width: 80px;
  padding: 20px;
  border-radius: 50%;
  margin: 0 auto;
}
.side-navbar .logo-sidebar {
  width: 100%;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
  transition: 0.3s;
}

.my-container {
  transition: 0.4s;
  overflow: auto;
  padding-bottom: 20px;
  height: 100vh;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 250px;
}

#menu-btn {
  background-color: #b71c1c;
  color: #fff;
  margin-left: -50px;
  margin-top: -7px;
  font-size: 1.5rem;
}

.my-container input,
 .my-container select{
  border-radius: 2rem;
  padding: 10px 20px;
}
.form-control {
  background-color: rgba(255,101,80,0.1);
  border: 1px solid rgba(255,101,80,0.1);
}
.form-control:focus {
  background-color: rgba(255,101,80,0.1);
  border-color: rgba(255,101,80,0.1);
  box-shadow: 0 0 0 0.25rem rgb(255 101 80 / 25%); 
}
.navbar {
  background-color: #b71c1c;
}
.title-sidenav {
  text-align: center;
}
ul.nav {
  margin-top: 30px;
}

main {
  position: relative;
  overflow: auto;
}
main .content {
  border: 1px solid #fafafa;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  position: relative;
  height: 85vh;
  overflow: auto;
}
main .content .isi {
  padding: 10px 8px;
}
nav .info {
  text-align: center;
  font-size: 1.5rem;
}
nav .info i {
  font-size: 2rem;
  margin-right: -30px;
  color: #fff;
}

#title h5 {
  font-size: 1.5rem;
  color: #fff;
}

.form {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}
.form .logo-login {
  width: 50%;
}
.form .logo-regis {
  width: 30%;
}
.btn.login {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 0.5rem;
}
.btn-danger.login {
  background-color: #b71c1c;
  border-color: #b71c1c;
}
.btn-warning.df {
  color: #fff;
  font-weight: 500;
  padding: 3px 10px;
  border-radius: 0.5rem;
}

/*admin*/
/*.form-admin {
  text-align: center;
  margin-top: 170px;
}
.form-admin h5 {
  font-size: 3.7rem;
}
.form-admin h6 {
  font-size: 2.3rem;
  text-transform: uppercase;
}*/

.head-dt {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.datatable {
  margin-top: 10px;
  width: 100%;
}
.datatable input {
  padding: 5px 10px;
}

#lap-kec {
  font-size: 1.7rem;
}

@media (max-width: 768px) {
  #title h5 {
    font-size: 1.2rem;
  }

  nav .info i {
    font-size: 2.4rem;
  }

  .datatable {
    overflow: auto;
  }
}
@media (max-width: 576px) {
  #title h5 {
    font-size: 0.8rem;
  }

  nav .info i {
    font-size: 1.7rem;
  }

  .form {
    width: 250px;
  }

  .info-admin {
    margin-top: -10px;
    margin-right: -40px;
  }
  .btn-warning {
    font-size: 0.5rem;
  }
  .form-admin h5 {
    font-size: 2rem;
  }
  .form-admin h6 {
    font-size: 1rem;
  }
  .datatable {
    overflow: auto;
  }
}